#content {
  max-width: 1600px;
  margin-left: 0 auto;
}
header {
  background-color: #22333B;
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr) 50px;
  gap: 10px;
  grid-template-rows: 50px auto;
  align-items: center;
  font-family: 'Alice', Helvetica, serif;
}
header section a, header section p{
  color: #F2F4F3;
}
.logo img {
  width: 60%;
  margin: 10px;
}
#logo_link {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}
#nav_1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
#nav_pages2 {
  grid-column: 4/7;
  grid-row: 1/2;
  text-align: right;
}
#nav_pages2 a{
  margin-left: 40px;
}
section a{
  text-decoration: none;
}
#social-media img {
  width: 20px;
  margin-left: 10px;
}
#social-media p {
  color: #F2F4F3;
  display: inline;
}
#social-media {
  grid-column: 3/4;
  grid-row: 1/2;
}
#search{
    grid-column: 3/6;
    grid-row: 2/3;
}
#search input {
  margin: 20px;
  width: 100%;
  height: 50px;
  text-indent: 10px;
  font-size: x-large;
  border-radius: 10px;
}
#cart{
    grid-column: 6/7;
    grid-row: 2/3;
    text-align: center;
}
#cart img{
  width: 40%;
}

/*start-hover effect - header*/
#nav_1 a:hover{
  opacity: 70%;  
}
#nav_pages2 a:hover{
  opacity: 70%;
}
#social-media img:hover {
  transform: scale(1.5);
  transition: .5s;
} 
#cart img:hover {
  transform: scale(1.1);
  opacity: 70%;
  transition: .5s;
}
.logo img:hover {
  opacity: 70%;
  transition: .5s;
}
#search input:hover {
  
  opacity: 80%;
  transition: .5s;
}
/*end-hover effect - header*/
/*start-onsale-container*/
#onsale-container {
  display: grid;
  grid-template-columns: 50px 1fr 40% 50px;
  grid-template-rows: 10px 100px 100px;
  grid-gap: .5em;
}
#promo1 {
  grid-column: 2/3;
  grid-row: 2/4;
}
#promo2 {
  grid-column: 3/4;
  grid-row: 2/3;
}
#promo3 {
  grid-column: 3/4;
  grid-row: 3/4;
}
#onsale-container div img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/*end-onsale-container*/
/*start-best-deals*/
#best-deals {
  font-family: 'Sora', sans-serif;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px repeat(5, 1fr) 50px;
  grid-template-rows: 30px 20px auto;
  grid-gap: 1em;
  align-items: center;
}
#promo-msg {
  grid-column: 2/7;
  grid-row: 1/2;
  text-align: center;
}
#deals-today{
  grid-column: 2/4;
  grid-row: 2/3;
}
#best-deals img:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 3/4;
}
#best-deals img:nth-of-type(2){
  grid-column: 3/4;
  grid-row: 3/4;
}
#best-deals img:nth-of-type(3){
  grid-column: 4/5;
  grid-row: 3/4;
}
#best-deals img:nth-of-type(4){
  grid-column: 5/6;
  grid-row: 3/4;
}
#best-deals img:nth-of-type(5){
  grid-column: 6/7;
  grid-row: 3/4;
}
#best-deals img{
box-sizing: border-box;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 5px;
}
/*end-best-deals*/
/*start-categories*/
#categories-container {
  font-family: 'Sora', sans-serif;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr) 50px;
  grid-template-rows: 50px 100px 30px 100px 30px;
  align-items: center;
  grid-gap: .5em;
}
#categories-container h2 {
  grid-column: 2/8;
  grid-row: 1;
}
#categories-container img:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(3) {
  grid-column: 4/5;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(3) {
  grid-column: 4/5;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(4) {
  grid-column: 5/6;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(4) {
  grid-column: 5/6;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(5) {
  grid-column: 6/7;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(5) {
  grid-column: 6/7;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(6) {
  grid-column: 7/8;
  grid-row: 2/3;
}
#categories-container h5:nth-of-type(6) {
  grid-column: 7/8;
  grid-row: 3/4;
  text-align: center;
}
#categories-container img:nth-of-type(7) {
  grid-column: 2/3;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(7) {
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img:nth-of-type(8) {
  grid-column: 3/4;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(8) {
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img:nth-of-type(9) {
  grid-column: 4/5;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(9) {
  grid-column: 4/5;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img:nth-of-type(10) {
  grid-column: 5/6;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(10) {
  grid-column: 5/6;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img:nth-of-type(11) {
  grid-column: 6/7;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(11) {
  grid-column: 6/7;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img:nth-of-type(12) {
  grid-column: 7/8;
  grid-row: 4/5;
}
#categories-container h5:nth-of-type(12) {
  grid-column: 7/8;
  grid-row: 5/6;
  text-align: center;
}
#categories-container img{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/*end-categories*/
/*start-payment*/
#payment-delivery-container{
  background-color: #A9927D;
  font-family: 'Sora', sans-serif;
  display: grid;
  grid-template-columns: 100px 1fr 100px 1fr 100px;
  grid-template-rows: 30px auto;
  align-items: center;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#payment-delivery-container h2:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 1/2;
}
#payment-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
}
#payment-delivery-container h2:nth-of-type(2){
  grid-column: 4/5;
  grid-row: 1/2;
}
#delivery-container {
  grid-column: 4/5;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5em;
}
#payment-container img{
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  align-items: center;
}
#delivery-container img{
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  align-items: center;
}
/*end-payment*/
/*start-home-msg*/
#home-msg {
  font-family: 'Alice', Helvetica, serif;
  background-color: #A9927D;
  font-size: 1.2rem;
  margin-top: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-auto-rows: 30px auto 30px auto 30px auto 30px auto 30px auto 30px auto;
  align-items: center;
}
#home-msg h4:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}
#home-msg h4:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
}
#home-msg h4:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
}
#home-msg h4:nth-of-type(4){
  grid-column: 2/3;
  grid-row: 7/8;
  text-align: center;
}
#home-msg h4:nth-of-type(5){
  grid-column: 2/3;
  grid-row: 9/10;
  text-align: center;
}
#home-msg h4:nth-of-type(6){
  grid-column: 2/3;
  grid-row: 11/12;
  text-align: center;
}
/*home-msg*/
#home-msg p:nth-of-type(1){
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}
#home-msg p:nth-of-type(2){
  grid-column: 2/3;
  grid-row: 4/5;
  text-align: center;
}
#home-msg p:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 6/7;
  text-align: center;
}
#home-msg p:nth-of-type(4){
  grid-column: 2/3;
  grid-row: 8/9;
  text-align: center;
}
#home-msg p:nth-of-type(5){
  grid-column: 2/3;
  grid-row: 10/11;
  text-align: center;
}
#home-msg p:nth-of-type(6){
  grid-column: 2/3;
  grid-row: 12/13;
  text-align: center;
}
#home-msg h4, #home-msg p {
  color: #22333B
}
/*end-home-msg*/
/*start-footer*/
footer div, footer h2, footer div ul li a, footer h5{
  color: #F2F4F3;
}
footer {
  margin-top: 20px;
  font-family: 'Sora', sans-serif;
  background-color: #22333B;
  display: grid;
  grid-template-columns: 50px repeat(3, 1fr) 50px;
  grid-template-rows: 30px auto 30px;
  align-items: center;
  padding-top: 20px;
}
footer h2:nth-of-type(1) {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer h2:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
footer h2:nth-of-type(3) {
  grid-column: 4/5;
  grid-row: 1/2;
  text-align: center;
}
#customer-care {
  grid-column: 2/3;
  grid-row: 2/3;
}
#happy-point {
  grid-column: 3/4;
  grid-row: 2/3;
}
#follow-us-on {
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
}
#customer-care ul li, #happy-point ul li{
  list-style-type: none;
}
footer #follow-us-on a img {
box-sizing: border-box;
width: 10%;
height: 100%;
}
footer h5 {
  grid-column: 2/4;
  grid-row: 3/4;
}
/*end-footer*/

